---
layout: layouts/base.njk
title: Youtubers
image: /images/uploads/facebook-default.jpg
---

<!-- Index css ==================== -->

{% set css %}
{% include "styles/youtube.css" %}
{% endset %}

<style>
    {{css | cssmin | safe}}
</style>

<!-- CONTENT ==================== -->

<h1>Subscreve e segue os canais dos nossos Youtubers</h1>

<main class="team">  

    <div class="team-1 team-fit">

        {%- if youtube.youtubers -%}

            {%- for item in youtube.youtubers -%}

                <div class="grid-element-team module" >      
                    <script src="https://apis.google.com/js/platform.js"></script>          
                   <a href="{{ item.link }}" target="_blank" rel="noreferrer noopener" aria-label="{{ item.ariaLabel }}"><img class="featuredImage" src="{{ item.youtubeImage }}" alt="{{ featuredImage }}"></img></a>                   
                    <div class="g-ytsubscribe" data-channelid="{{ item.YouTubeUsername }}" data-layout="full" data-count="default"></div>    
                </div>               

            {%- endfor -%}

        {%- endif -%}

    </div>      

</main>