---
layout: layouts/base.njk
title: Apps
image: /images/uploads/apps-list.jpg
---

<!-- Index css ==================== -->

{% set css %}
{% include "styles/appslist.css" %}
{% endset %}

<style>
    {{css | cssmin | safe}}
</style>

<!-- CONTENT ==================== -->

<h1>Subscreve e segue os canais dos nossos Youtubers</h1>

<main class="indexContainer">

    <section class="list-apps">
        <section class="youtubegrabber">            
                <a href="https://www.youtube.com/channel/UCivk-ma9dv0VbhrBIHok2PQ" target="_blank" rel="noreferrer noopener" aria-label="Youtube"><img src="/images/uploads/logo-white.png" alt="Youtube"/><span class="btnMore">Biclas Gaming ⇨</span></a>                        
        </section>
    </section>

</main>

