---
layout: layouts/base.njk
title: Design
---

{% set css %}
{% include "styles/post.css" %}
{% endset %}

<style>
    {{css | cssmin | safe}}
</style>

<main class="post-container">

    <section class="post-main-content">

        <img class="preview-image" src="{{ featuredImage | url }}" alt="{{ featuredImage }}"></img>

        <h1 class="post-title">{{ title }}</h1>

        <section class="post-info">

            <span>
                {% include "partials/author.njk" %}
            </span>

            <section class="post-flex-date">

                <span class="post-date">
                    <p>{{ date | readableDate }}</p>
                </span>

                <span class="post-read-time">
                    <p class="words">{{ content | wordcount | readtime }}</p>
                </span>

            </section>

        </section>

        <span class="content-mobile">{{ content | safe }}</span>

        {% include "partials/facebook.njk" %}

        {# PAGINATION #}
        <section class="post-pagination">

            <span class="post-pagination-next">
                {% set nextPost = collections.design | getNextCollectionItem(page) %}
                {% if nextPost %}
                    <a href="{{ nextPost.url }}">⇦ Previous</a>
                {% endif %}
            </span>

            <span class="post-pagination-previous">
                {% set previousPost = collections.design | getPreviousCollectionItem(page) %}
                {% if previousPost %}
                    <a href="{{ previousPost.url }}">Next ⇨</a>
                {% endif %}
            </span>

        </section>
    </section>

    {% include "partials/backtotop.njk" %}

    {# PAGINATION SIDEBAR #}
    <section class="post-sidebar">

        <span class="post-sidebar-next">
            {% set previousPost = collections.design | getPreviousCollectionItem(page) %}
            {% if previousPost %}
                <a href="{{ previousPost.url }}">Next ⇨</a>
            {% endif %}
        </span>

        <span class="post-sidebar-previous">
            {% set nextPost = collections.design | getNextCollectionItem(page) %}
            {% if nextPost %}
                <a href="{{ nextPost.url }}">⇦ Previous</a>
            {% endif %}
        </span>

        {%- for designwork in design -%}

            <section class="card">

                <a href="{{ designwork.url | url }}">
                    <img class="cardImage" src="{{ designwork.data.featuredImage | url }}" alt="{{ featuredImage }}"></img>
                </a>

                <a href="{{ designwork.url | url }}">
                    <h2 class="title">{{ designwork.data.title }}</h2>
                </a>

                <a class="date" href="{{ designwork.url | url }}">
                    {{ page.date | justTheYear }}
                </a>

                <section class="button">
                    <a href="{{ designwork.url | url }}">
                        <h3>Read More</h3>
                    </a>
                </section>

            </section>

        {%- endfor -%}

    </section>

</main>