.team { 
  grid-area: team;
  margin-top: -0.5rem;
  margin-right: 1rem;
  z-index: 1; 
}

 .youtubeIcon {   
    position: relative;  
    margin: -2.2rem 0 0 0;   
    float: right;   
    width: auto;
  }

.team-1 {
  display: grid;
  align-items: center;
  justify-items: center;
  padding-bottom: 7rem;
  padding-top: 1rem;
  background-color: var(--background);
}

.flag {
  margin: auto;   
  width: 30px;
  margin-top: -2.8rem;
}

.team-1 .featuredImage {
  border-radius: 50%;
  max-width: 180px;
  max-height: 180px;
  z-index: 1;
}

.team-1:nth-child(2) {
  border-radius: 70%;
  background-color: red;
}

/* This fixes the first and second child background color */

div:nth-child(1) .featuredImage,
div:nth-child(2) .featuredImage,
div:nth-child(3) .featuredImage {
  background-color: #e8b03f;
  padding: 5px;
}

div:nth-child(n + 11) .featuredImage {
  background-color: var(--background);
  color: var(--text-color);
}

div:nth-child(4) .featuredImage,
div:nth-child(5) .featuredImage,
div:nth-child(6) .featuredImage,
div:nth-child(7) .featuredImage,
div:nth-child(8) .featuredImage,
div:nth-child(9) .featuredImage,
div:nth-child(10) .featuredImage {
  background-color: #266e26;
  color: #fafafa;
  padding: 5px;
}

div:nth-last-child(2) .featuredImage,
div:nth-last-child(3) .featuredImage {
  background-color: #b22222;
  padding: 5px;
}

/* This fixes the last child background color */

.team-1 div:last-child .featuredImage {
  background-color: #b22222;
  padding: 5px;
}

#mobileMenu {
  background-color: var(--navbar-background);
}

#navbarLogo {
  background-color: var(--navbar-background);
}

.team-1 h2 {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.85em;
}

.team-fit {
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}

.grid-element-team {
  padding: 20px;
}

@media screen and (max-width: 1440px) {
  .team-fit {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  .team-1 h2 {
    text-align: center;
    margin-top: 1rem;
    font-size: 0.8em;
  }
}

@media screen and (max-width: 1280px) {
  .team-fit {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  }
  .team-1 h2 {
    text-align: center;
    margin-top: 1rem;
    font-size: 0.65em;
  }

  .flag {
    width: 25px;
  }

}