.title h1 {
  text-align: center;
  background-color: var(--background);
  font-size: clamp(
    1.5em,
    3vw,
    2.1em
  ); /* best thing ever :D (small screens, medium screens, big screens )*/
  padding: 0.5rem;
}

.team {
  grid-area: team;
  margin-top: -0.5rem;
  background-color: var(--background);
}

.team-1 {
  display: grid;
  align-items: center;
  justify-items: center;
  padding-bottom: 7rem;
  padding-top: 1rem;
  background-color: var(--background);
}

.team-1 .featuredImage {
  border-radius: 5px;
  max-width: 300px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.team-1 .featuredImage:hover {
  box-shadow: var(--boxShadowCards);
}

.team-fit {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.grid-element-team {
  padding: 20px;
}